.fea{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
  }

  img{
    background-color: rgb(241, 237, 237);
    padding: 3px;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    

  }
  
  
   img{
    width: 90%;
    height: 100%;
    object-fit: cover;
  }

  .content{
    text-align: center;
  }
  .content-price{
    font-weight: 900;
  }

  button{
    color: white;
    background-color: orange;
    border: none;
    
  }
  
  